AppADM/Chegou_Sus/.idea/libraries/glide_3_7_0.xml
AppADM/Chegou_Sus/app/build/intermediates/classes/debug/co/chegoususadmin/Main/MainActivity$1.class
AppADM/Chegou_Sus/app/build/intermediates/classes/debug/co/chegoususadmin/Main/PostoInfoHolder.class
AppADM/Chegou_Sus/app/build/intermediates/res/merged/debug/layout/cell_posto_main.xml
AppADM/Chegou_Sus/app/build/intermediates/transforms/jarMerging/debug/jars/1/1f/combined.jar
AppADM/Chegou_Sus/app/build/outputs/apk/app-debug-unaligned.apk
AppADM/Chegou_Sus/build/generated/mockable-android-24.jar
